<h1 align="center">Nodes</h1>
<div class="centered">
  <div id="create_node" class="btn btn-success">Create new node</div>
  <div id="edit_node" class="btn btn-info">Edit node</div>
  <div id="delete_node" class="btn btn-danger">Delete node</div>
  <div id="create_element" class="btn btn-success">Create new element</div>
  <div id="edit_element" class="btn btn-info">Edit element</div>
  <div id="delete_element" class="btn btn-danger">Delete element</div>
</div>
<div id="nodes_container" class="well centered" style="height: 600px; overflow-y: scroll; margin-top: 5px"></div>

<script>
    var current_node_id = null;
    var current_element_id = null;
    $(document).ready(function () {
        draw_tree();
    });
    $(document).on('click', '.node', function(){
        $('.element').css('background', 'none');
        $('.node').css('background', 'none');
        $(this).css('background', 'grey');
        current_element_id = null;
        current_node_id = $(this).attr('id');
        $(this.parent).preventDefault();
    });
    $(document).on('dblclick', '.node', function(){
        $(this.children).toggle(200);
        $(this.parent).preventDefault();
    });
    $(document).on('dblclick', '.element', function(){
        $(this.parent).preventDefault();
    });
    $(document).on('click', '.element', function(){
        $('.element').css('background', 'none');
        $(this).css('background', 'yellow');
        $('.node').css('background', 'none');
        $('.node').preventDefault();
        current_node_id = null;
        current_element_id = $(this).attr('id');
        $(this.parent).preventDefault();
    });
    $(document).mouseup(function (e) {
        var container = $(".node .element");

        if (!container.is(e.target)){
            $('.element').css('background', 'none');
            $('.node').css('background', 'none');
            current_element_id = null;
            current_node_id = null;
        }
    });
    function draw_tree(){
        $.ajax({
            url: "<%= url_for({:controller => 'nodes', :action => 'draw_tree'}) %>"
        }).done(function(json) {
            $("#nodes_container").empty();
            var nodes_container = $("#nodes_container");
            json_to_tree(json, nodes_container);
        });
    }
    function json_to_tree(json, nodes_container){
        $.each(json, function(node_id, node) {
            var current_node = $("<ul class='node' id="+ node_id +">" + node.title + "</ul>").draggable(
                {
                    revert : true,
                    stop:function(ev,ui){
                        draw_tree();
                    }
                }).appendTo(nodes_container);
            if (node.nodes !== ''){
                json_to_tree(node.nodes, current_node);
            }
            $.each(node.elements, function(element_id, element_title) {
                $("<li class='element' id=" + element_id + ">" + element_title + "</li>").draggable(
                    {
                        revert: true,
                        stop:function(ev,ui){
                            draw_tree();
                        }
                    }).appendTo($("#" + node_id));
            });
        });
    }
</script>